
#login-page, #register-page {
  width: 400px;
  max-width:100%;
}

nav{
    width: 100%;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* icon prefix focus color */
.input-field .prefix.active {
    color: #0d47a1;
}

/* label focus color */
.input-field input:focus + label {
    color: #0d47a1 !important;
}
/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #0d47a1 !important;
    box-shadow: 0 1px 0 0 #0d47a1 !important
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

  .fast {
      -webkit-animation-duration: 0.4s;
      animation-duration: 0.4s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
  }

  @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
  }
  
  .fadeIn { animation-name: fadeIn; }